<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="appearance-none" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
 <head>
  <link crossorigin="anonymous" href="//fonts.gstatic.com/" rel="preconnect"/>
  <link crossorigin="anonymous" href="//fonts.googleapis.com/" rel="preconnect"/>
  <link crossorigin="anonymous" href="//tags-cdn.deployads.com/" rel="preconnect"/>
  <link crossorigin="anonymous" href="//www.googletagservices.com/" rel="preconnect"/>
  <link crossorigin="anonymous" href="//www.googletagmanager.com/" rel="preconnect"/>
  <link crossorigin="anonymous" href="//apis.google.com/" rel="preconnect"/>
  <link crossorigin="anonymous" href="//pixel-sync.sitescout.com/" rel="preconnect"/>
  <link crossorigin="anonymous" href="//pixel.tapad.com/" rel="preconnect"/>
  <link crossorigin="anonymous" href="//c.deployads.com/" rel="preconnect"/>
  <link crossorigin="anonymous" href="//tpc.googlesyndication.com/" rel="preconnect"/>
  <link crossorigin="anonymous" href="//googleads.g.doubleclick.net/" rel="preconnect"/>
  <link crossorigin="anonymous" href="//securepubads.g.doubleclick.net/" rel="preconnect"/>
  <link crossorigin="anonymous" href="https://cdn.myanimelist.net" rel="preconnect"/>
  <title>
   Junjou Juugeki Cosplay Shoujo (Pure Heart Shooting Girl) - Pictures - MyAnimeList.net
  </title>
  <meta content="Browse pictures from the anime Junjou Juugeki Cosplay Shoujo (Pure Heart Shooting Girl) on MyAnimeList, the internet's largest anime database." name="description"/>
  <meta content="anime, myanimelist, anime news, manga" name="keywords"/>
  <meta content="en_US" property="og:locale"/>
  <meta content="360769957454434" property="fb:app_id"/>
  <meta content="MyAnimeList.net" property="og:site_name"/>
  <meta content="summary" name="twitter:card"/>
  <meta content="@myanimelist" name="twitter:site"/>
  <meta content="Junjou Juugeki Cosplay Shoujo" property="og:title"/>
  <meta content="video.other" property="og:type"/>
  <meta content="https://cdn.myanimelist.net/images/anime/1345/102114.jpg" property="og:image"/>
  <meta content="https://cdn.myanimelist.net/r/360x360/images/anime/1345/102114.jpg?s=6b7bf64ed444c08506a22c0023a1931a" name="twitter:image:src"/>
  <meta content="https://myanimelist.net/anime/40131/Junjou_Juugeki_Cosplay_Shoujo/pics" property="og:url"/>
  <meta content="Browse pictures from the anime Junjou Juugeki Cosplay Shoujo (Pure Heart Shooting Girl) on MyAnimeList, the internet's largest anime database." property="og:description"/>
  <meta content="default" name="referrer"/>
  <link href="/manifest.json" rel="manifest"/>
  <meta content="7c4bf50f6f70884d5c0e1c9648e6221ec73db178" name="csrf_token"/>
  <meta content="1e927243-8e02-48e3-b098-a7b78c5b4e36" name="fo-verify"/>
  <meta content="initial-scale=1" name="viewport">
   <link as="style" href="https://cdn.myanimelist.net/static/assets/css/pc/style-92446af6d8.css" rel="preload">
    <link as="style" href="https://cdn.myanimelist.net/static/assets/css/pc/dark-7417b035b9.css" rel="preload"/>
    <link as="script" href="https://cdn.myanimelist.net/static/assets/js/pc/header-4e62fe14bd.js" rel="preload"/>
    <link as="script" href="https://cdn.myanimelist.net/static/assets/js/pc/all-2d3fc6190f.js" rel="preload"/>
    <link href="https://cdn.myanimelist.net/static/assets/css/pc/style-92446af6d8.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.myanimelist.net/static/assets/css/pc/dark-7417b035b9.css" rel="stylesheet" type="text/css"/>
    <script async="async" data-params='{"origin_url":"https:\/\/myanimelist.net"}' id="alljs" src="https://cdn.myanimelist.net/static/assets/js/pc/all-2d3fc6190f.js" type="text/javascript">
    </script>
    <link href="https://myanimelist.net/plugins/myanimelist.xml" rel="search" title="MyAnimeList" type="application/opensearchdescription+xml"/>
    <link href="https://cdn.myanimelist.net/images/favicon.ico" rel="shortcut icon"/>
    <meta content="6Ld_1aIZAAAAAF6bNdR67ICKIaeXLKlbhE7t2Qz4" name="recaptcha_site_key"/>
    <script>
     window.GRECAPTCHA_SITE_KEY = '6Ld_1aIZAAAAAF6bNdR67ICKIaeXLKlbhE7t2Qz4';
    </script>
    <script async="" defer="" src="https://www.google.com/recaptcha/api.js?render=6Ld_1aIZAAAAAF6bNdR67ICKIaeXLKlbhE7t2Qz4">
    </script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;display=swap" rel="stylesheet"/>
    <script type="text/javascript">
     window._taboola = window._taboola || [];
  _taboola.push({article:'auto'});
  !function (e, f, u, i) {
    if (!document.getElementById(i)){
      e.async = 1;
      e.src = u;
      e.id = i;
      f.parentNode.insertBefore(e, f);
    }
  }(document.createElement('script'),
  document.getElementsByTagName('script')[0],
  '//cdn.taboola.com/libtrc/myanimelist/loader.js',
  'tb_loader_script');
  if(window.performance && typeof window.performance.mark == 'function')
    {window.performance.mark('tbl_ic');}
    </script>
    <script async="" crossorigin="anonymous" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1473193330168238">
    </script>
    <script src="https://cdn.myanimelist.net/js/quantcast_choice.js?v=1702796725" type="text/javascript">
    </script>
    <script src="https://cdn.myanimelist.net/js/cmp.js?v=1702796725" type="text/javascript">
    </script>
    <script defer="" src="https://cdn.unblockia.com/h.js">
    </script>
    <script>
     var clientDarkMode = window.matchMedia("(prefers-color-scheme:dark)").matches;
  let darkMode = false

  if (clientDarkMode) {
    if (!$('html').hasClass("appearance-light")) { // SystemSetting = Dark && MAL UserSettings != Light
      darkMode = true
    }
  } else if ($('html').hasClass("appearance-dark")) { // MAL UserSettings = Dark
    darkMode = true
  }

    if (darkMode) {
    $('html').addClass("dark-mode");
  }
    $(document).ready(function() {
    if (darkMode) {
      if($('.js-color-pc-constant').length){$('.js-color-pc-constant').addClass("color-pc-constant");}
    }
  });
    </script>
   </link>
  </meta>
 </head>
 <body class="page-common" data-country-code="VN" data-time="1702796724" onload=" ">
  <div id="myanimelist">
   <script type="text/javascript">
    window.MAL.SkinAd.prepareForSkin('');
   </script>
   <div class="ad-skin-side-outer ad-skin-side-bg bg-left" id="ad-skin-bg-left">
    <div class="ad-skin-side left" id="ad-skin-left" style="display: none;">
     <div id="ad-skin-left-absolute-block">
      <div id="ad-skin-left-fixed-block">
      </div>
     </div>
    </div>
   </div>
   <div class="wrapper">
    <div class="" id="headerSmall">
     <a class="link-mal-logo" href="/">
      MyAnimeList.net
     </a>
     <script>
      (deployads = window.deployads || []).disablePageSegmentSessionTracking = true;
     </script>
     <script>
      (deployads = window.deployads || []).pageSegment = 'anime_pics_40131';
     </script>
     <script>
      var trackOutboundLink = function(url) {
        ga('send', 'event', 'outbound', 'click', url, {
            'transport': 'beacon',
            'hitCallback': function(){return true;}
        });
    }
     </script>
     <div class="banner-header-anime-straming header-mini-banner" style="right:480px;">
      <a href="https://mxj.myanimelist.net/readthismanga/2024/nominate?utm_source=MAL&amp;utm_medium=all_TMB_readthismanga-2024" onclick="trackOutboundLink('https://mxj.myanimelist.net/readthismanga/2024/nominate?utm_source=MAL&amp;utm_medium=all_TMB_readthismanga-2024')">
       <img alt="You_Should_Read_2024_Nomination" height="36" src="/c/img/images/event/Mini_Banner_20231213_You_Should_Read_2024_Nomination/mini-banner.png" title="You_Should_Read_2024_Nomination" width="250"/>
      </a>
     </div>
     <div id="header-menu">
      <div class="header-menu-login">
       <a class="btn-mal-service ga-click ga-impression" data-ga-click-type="hide-ads" data-ga-impression-type="hide-ads" href="https://myanimelist.net/membership?_location=mal_h_u" onclick="ga_mal_banner()">
        Hide Ads
       </a>
       <a class="btn-login" href="https://myanimelist.net/login.php?from=%2Fanime%2F40131%2FJunjou_Juugeki_Cosplay_Shoujo%2Fpics" id="malLogin" onclick="ga_notlogin()">
        Login
       </a>
       <a class="btn-signup" href="https://myanimelist.net/register.php?from=%2Fanime%2F40131%2FJunjou_Juugeki_Cosplay_Shoujo%2Fpics" onclick="ga_registration()">
        Sign Up
       </a>
      </div>
     </div>
    </div>
    <div class="" id="menu">
     <div id="menu_right">
      <script id="incremental-result-item-anime" type="text/x-template">
       <div class="list anime" :class="{'focus': focus}"><a :href="url" class="clearfix"><div class="on" v-if="focus"><span class="image" :style="{'background-image': 'url(' + item.image_url + ')'}"></span><div class="info anime"><div class="name">${ item.name } <span class="media-type">(${ item.payload.media_type })</span></div><div class="extra-info">Aired: ${ item.payload.aired }<br>Score: ${ item.payload.score }<br>Status: ${ item.payload.status }</div></div></div><div class="off" v-if="!focus"><span class="image" :style="{'background-image': 'url(' + item.thumbnail_url + ')'}"></span><div class="info anime"><div class="name">${ item.name }</div><div class="media-type">(${ mediaTypeWithStartYear })</div></div></div></a></div>
      </script>
      <script id="incremental-result-item-manga" type="text/x-template">
       <div class="list manga" :class="{'focus': focus}"><a :href="url" class="clearfix"><div class="on" v-if="focus"><span class="image" :style="{'background-image': 'url(' + item.image_url + ')'}"></span><div class="info manga"><div class="name">${ item.name } <span class="media-type">(${ item.payload.media_type })</span></div><div class="extra-info">Published: ${ item.payload.published }<br>Score: ${ item.payload.score }<br>Status: ${ item.payload.status }</div></div></div><div class="off" v-if="!focus"><span class="image" :style="{'background-image': 'url(' + item.thumbnail_url + ')'}"></span><div class="info manga"><div class="name">${ item.name }</div><div class="media-type">(${ mediaTypeWithStartYear })</div></div></div></a></div>
      </script>
      <script id="incremental-result-item-character" type="text/x-template">
       <div class="list character" :class="{'focus': focus}"><a :href="url" class="clearfix"><div class="on" v-if="focus"><span class="image" :style="{'background-image': 'url(' + item.image_url + ')'}"></span><div class="info character"><div class="name"  v-html="item.name"></div><div class="extra-info"><ul class="related-works"><li v-for="work in item.payload.related_works" class="fs-i">- ${ work }</li></ul>Favorites: ${ item.payload.favorites }</div></div></div><div class="off" v-if="!focus"><span class="image" :style="{'background-image': 'url(' + item.thumbnail_url + ')'}"></span><div class="info character"><div class="name"  v-html="item.name"></div></div></div></a></div>
      </script>
      <script id="incremental-result-item-person" type="text/x-template">
       <div class="list person" :class="{'focus': focus}"><a :href="url" class="clearfix"><div class="on" v-if="focus"><span class="image" :style="{'background-image': 'url(' + item.image_url + ')'}"></span><div class="info person"><div class="name">${ item.name }</div><div class="extra-info"><span v-if="item.payload.alternative_name">${ item.payload.alternative_name }<br></span>Birthday: ${ item.payload.birthday }<br>Favorites: ${ item.payload.favorites }</div></div></div><div class="off" v-if="!focus"><span class="image" :style="{'background-image': 'url(' + item.thumbnail_url + ')'}"></span><div class="info person"><div class="name">${ item.name }</div></div></div></a></div>
      </script>
      <script id="incremental-result-item-company" type="text/x-template">
       <div class="list company" :class="{'focus': focus}"><a :href="url" class="clearfix"><div class="on" v-if="focus"><span class="image" :style="{'background-image': 'url(' + item.image_url + ')'}"></span><div class="info company"><div class="name">${ item.name }</div><div class="extra-info"><span v-if="item.payload.japanese">(${ item.payload.japanese })<br></span>
                        Anime titles: ${ item.payload.num_animes.toLocaleString() }<br>
                        Favorites: ${item.payload.favorites.toLocaleString()}
                    </div></div></div><div class="off" v-if="!focus"><span class="image" :style="{'background-image': 'url(' + item.thumbnail_url + ')'}"></span><div class="info company"><div class="name">${ item.name }</div></div></div></a></div>
      </script>
      <script id="incremental-result-item-store" type="text/x-template">
       <div class="list store" :class="{'focus': focus}"><a :href="url" class="clearfix"><div class="on" v-if="focus"><span class="image" :style="{'background-image': 'url(' + item.image_url + ')'}"></span><div class="info store"></div></div><div class="off" v-if="!focus"><span class="image" :style="{'background-image': 'url(' + item.thumbnail_url + ')'}"></span><div class="info store"></div></div></a></div>
      </script>
      <script id="incremental-result-item-club" type="text/x-template">
       <div class="list club" :class="{'focus': focus}"><a :href="url" class="clearfix"><div class="on" v-if="focus"><span class="image" :style="{'background-image': 'url(' + item.image_url + ')'}"></span><div class="info club"><div class="name">${ item.name }</div><div class="extra-info">Members: ${ item.payload.members }<br>Category: ${ item.payload.category }<br>Created by: ${ item.payload.created_by }</div></div></div><div class="off" v-if="!focus"><span class="image" :style="{'background-image': 'url(' + item.thumbnail_url + ')'}"></span><div class="info club"><div class="name">${ item.name }</div></div></div></a></div>
      </script>
      <script id="incremental-result-item-user" type="text/x-template">
       <div class="list user" :class="{'focus': focus}"><a :href="url" class="clearfix"><div class="on" v-if="focus"><span class="image" :style="{'background-image': 'url(' + item.image_url + ')'}"></span><div class="info user"><div class="name">${ item.name }</div><div class="extra-info"><span v-if="item.payload.authority">${ item.payload.authority }<br></span>Joined: ${ item.payload.joined }</div></div></div><div class="off" v-if="!focus"><span class="image" :style="{'background-image': 'url(' + item.thumbnail_url + ')'}"></span><div class="info user"><div class="name">${ item.name }</div></div></div></a></div>
      </script>
      <script id="incremental-result-item-news" type="text/x-template">
       <div class="list news" :class="{'focus': focus}"><a :href="url" class="clearfix"><div class="on" v-if="focus"><span class="image" :style="{'background-image': 'url(' + item.image_url + ')'}"></span><div class="info news"><div class="name">${ item.name }</div><div class="extra-info">${ item.payload.date }</div></div></div><div class="off" v-if="!focus"><span class="image" :style="{'background-image': 'url(' + item.thumbnail_url + ')'}"></span><div class="info news"><div class="name">${ item.name }</div><div class="media-type">${ item.payload.date }</div></div></div></a></div>
      </script>
      <script id="incremental-result-item-featured" type="text/x-template">
       <div class="list featured" :class="{'focus': focus}"><a :href="url" class="clearfix"><div class="on" v-if="focus"><span class="image" :style="{'background-image': 'url(' + item.image_url + ')'}"></span><div class="info featured"><div class="name">${ item.name }</div><div class="extra-info">${ item.payload.date }</div></div></div><div class="off" v-if="!focus"><span class="image" :style="{'background-image': 'url(' + item.thumbnail_url + ')'}"></span><div class="info featured"><div class="name">${ item.name }</div><div class="media-type">${ item.payload.date }</div></div></div></a></div>
      </script>
      <script id="incremental-result-item-forum" type="text/x-template">
       <div class="list forum" :class="{'focus': focus}"><a :href="url" class="clearfix"><div class="on" v-if="focus"><span class="image" :style="{'background-image': 'url(' + item.image_url + ')'}"></span><div class="info forum"><div class="name"><span v-show="item.payload.work_title">${ item.payload.work_title}
                      <i class="fa-solid fa-caret-right"></i></span> ${ item.name }</div><div class="extra-info">${ item.payload.date }<br><span>in ${ item.payload.category }</span></div></div></div><div class="off" v-if="!focus"><span class="image" :style="{'background-image': 'url(' + item.thumbnail_url + ')'}"></span><div class="info forum"><div class="name"><span v-show="item.payload.work_title">${ item.payload.work_title}
                      <i class="fa-solid fa-caret-right"></i></span> ${ item.name }</div><div class="media-type">${ item.payload.date }</div></div></div></a></div>
      </script>
      <script id="incremental-result-item-separator" type="text/x-template">
       <div class="list separator"><div class="separator"><span v-show="item.name == 'anime'">Anime</span><span v-show="item.name == 'manga'">Manga</span><span v-show="item.name == 'character'">Characters</span><span v-show="item.name == 'person'">People</span><span v-show="item.name == 'company'">Companies</span></div></div>
      </script>
      <div class="js-color-pc-constant" id="top-search-bar">
       <form @submit.prevent="jump()" class="searchBar" id="searchBar" method="get">
        <div class="form-select-outer fl-l">
         <select class="inputtext" id="topSearchValue" name="type" v-model="type">
          <option value="all">
           All
          </option>
          <option value="anime">
           Anime
          </option>
          <option value="manga">
           Manga
          </option>
          <option value="character">
           Characters
          </option>
          <option value="person">
           People
          </option>
          <option value="company">
           Companies
          </option>
          <option value="store">
           Manga Store
          </option>
          <option value="news">
           News
          </option>
          <option value="featured">
           Featured Articles
          </option>
          <option value="forum">
           Forum
          </option>
          <option value="club">
           Clubs
          </option>
          <option value="user">
           Users
          </option>
         </select>
        </div>
        <input @blur="isFocused = false" @focus="isFocused = true" @keydown.down.prevent="moveSelection(1)" @keydown.up.prevent="moveSelection(-1)" autocomplete="off" class="inputtext fl-l" id="topSearchText" name="keyword" placeholder="Search Anime, Manga, and more..." size="30" type="text" v-model="keyword"/>
        <button :class="{'notActive': (keyword.length &lt; 3)}" class="fl-l" id="topSearchButon" type="submit">
         <i class="fa-solid fa-magnifying-glass">
         </i>
        </button>
       </form>
       <div :style="{display: (showResult ? 'block' : 'none')}" @mousedown.prevent="" class="incrementalSearchResultList" id="topSearchResultList">
        <div @mouseover="selection=i" v-for="(item, i) in items">
         <component :focus="selection == i" :is="resolveComponent(item)" :item="item" :url="generateItemPageUrl(item)">
         </component>
        </div>
        <div :class="{'focus': selection == -1}" :style="{display: (showViewAllLink ? 'block' : 'none')}" @mouseover="selection = -1" class="list list-bottom">
         <a :href="resultPageUrl">
          View all results for
          <span class="fw-b">
           ${ keyword }
          </span>
          <i class="fa-solid fa-spinner fa-spin ml4" v-show="isRequesting">
          </i>
         </a>
        </div>
       </div>
      </div>
     </div>
     <div id="menu_left">
      <ul class="js-color-pc-constant" id="nav">
       <li class="small">
        <a class="non-link" href="#">
         Anime
        </a>
        <ul class="x-wider">
         <li>
          <a href="https://myanimelist.net/anime.php?_location=mal_h_m">
           Anime Search
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/topanime.php?_location=mal_h_m">
           Top Anime
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/anime/season?_location=mal_h_m">
           Seasonal Anime
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/watch/episode?_location=mal_h_m_a">
           Videos
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/reviews.php?t=anime&amp;_location=mal_h_m">
           Reviews
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/recommendations.php?s=recentrecs&amp;t=anime&amp;_location=mal_h_m">
           Recommendations
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/forum?topicid=2067484&amp;_location=mal_h_m">
           2023 Challenge
          </a>
         </li>
         <li>
          <a href="https://fal.myanimelist.net/?utm_source=MAL&amp;utm_medium=headermenu&amp;utm_campaign=fal&amp;utm_content=falhome&amp;_location=mal_h_m">
           Fantasy Anime League
          </a>
         </li>
        </ul>
       </li>
       <li class="small">
        <a class="non-link" href="#">
         Manga
        </a>
        <ul class="x-wider">
         <li>
          <a href="https://myanimelist.net/manga.php?_location=mal_h_m">
           Manga Search
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/topmanga.php?_location=mal_h_m">
           Top Manga
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/store?_location=mal_h_m">
           Manga Store
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/reviews.php?t=manga&amp;_location=mal_h_m">
           Reviews
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/recommendations.php?s=recentrecs&amp;t=manga&amp;_location=mal_h_m">
           Recommendations
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/forum?topicid=2070198&amp;_location=mal_h_m">
           2023 Challenge
          </a>
         </li>
        </ul>
       </li>
       <li>
        <a class="non-link" href="#">
         Community
        </a>
        <ul>
         <li>
          <a href="https://myanimelist.net/stacks?_location=mal_h_m">
           Interest Stacks
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/forum/?_location=mal_h_m">
           Forums
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/clubs.php?_location=mal_h_m">
           Clubs
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/blog.php?_location=mal_h_m">
           Blogs
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/users.php?_location=mal_h_m">
           Users
          </a>
         </li>
        </ul>
       </li>
       <li class="small2">
        <a class="non-link" href="#">
         Industry
        </a>
        <ul class="wider">
         <li>
          <a href="https://myanimelist.net/news?_location=mal_h_m">
           News
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/featured?_location=mal_h_m">
           Featured Articles
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/people.php?_location=mal_h_m">
           People
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/character.php?_location=mal_h_m">
           Characters
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/company?_location=mal_h_m">
           Companies
          </a>
         </li>
         <li>
          <a href="https://mxj.myanimelist.net/?_location=mal_h_m">
           MAL×Japan
          </a>
         </li>
        </ul>
       </li>
       <li class="small">
        <a class="non-link" href="#">
         Watch
        </a>
        <ul class="wider">
         <li>
          <a href="https://myanimelist.net/watch/episode?_location=mal_h_m">
           Episode Videos
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/watch/promotion?_location=mal_h_m">
           Anime Trailers
          </a>
         </li>
        </ul>
       </li>
       <li class="smaller">
        <a class="non-link" href="#">
         Read
        </a>
        <ul class="wider">
         <li>
          <a href="https://myanimelist.net/store?_location=mal_h_m">
           Manga Store
          </a>
         </li>
        </ul>
       </li>
       <li class="smaller">
        <a class="non-link" href="#">
         Help
        </a>
        <ul class="wide">
         <li>
          <a href="https://myanimelist.net/about.php?_location=mal_h_m">
           About
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/about.php?go=support&amp;_location=mal_h_m">
           Support
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/advertising?_location=mal_h_m">
           Advertising
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/forum/?topicid=515949&amp;_location=mal_h_m">
           FAQ
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/modules.php?go=report&amp;_location=mal_h_m">
           Report
          </a>
         </li>
         <li>
          <a href="https://myanimelist.net/staff?_location=mal_h_m">
           Staff
          </a>
         </li>
         <li>
          <a class="ga-click ga-impression" data-ga-click-type="supporter-lp-menu" data-ga-impression-type="supporter-lp-menu" href="https://myanimelist.net/membership?_location=mal_h_m">
           MAL Supporter
          </a>
         </li>
        </ul>
       </li>
      </ul>
     </div>
    </div>
    <div id="contentWrapper" itemscope="" itemtype="http://schema.org/Product">
     <div>
      <div class="h1 edit-info">
       <div class="h1-title">
        <div itemprop="name">
         <h1 class="title-name h1_bold_none">
          <strong>
           Junjou Juugeki Cosplay Shoujo
          </strong>
         </h1>
         <br/>
         <p class="title-english title-inherit">
          Pure Heart Shooting Girl
         </p>
        </div>
       </div>
       <div class="header-right">
        <a class="js-anime-edit-info-button" href="https://myanimelist.net/login.php?from=%2Fanime%2F40131%2FJunjou_Juugeki_Cosplay_Shoujo%2Fpics&amp;error=login_required">
         <i class="fa-solid fa-pencil mr4">
         </i>
         Edit
        </a>
        <div class="fw-n fs11" id="editdiv">
         <form action="https://myanimelist.net/dbchanges.php" class="di-i" method="GET">
          <input name="aid" type="hidden" value="40131"/>
          <div class="pb8">
           What would you like to edit?
          </div>
          <select class="inputtext" id="t" name="t">
           <option value="synopsis">
            Synopsis
           </option>
           <option value="background">
            Background
           </option>
           <option value="alternative_titles">
            Alternative Titles
           </option>
           <option value="pic">
            Picture
           </option>
           <option value="airingdates">
            Airing Dates
           </option>
           <option value="producers">
            Producers
           </option>
           <option value="relations">
            Relations
           </option>
           <option value="rating">
            Rating
           </option>
           <option value="duration">
            Duration
           </option>
           <option value="source">
            Source
           </option>
           <option value="external_link">
            External Links
           </option>
          </select>
          <input class="inputButton flat btn-middle" type="submit" value="Go"/>
         </form>
        </div>
       </div>
      </div>
     </div>
     <div id="content">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
       <tr>
        <td class="borderClass" style="border-width: 0 1px 0 0;" valign="top" width="225">
         <div class="leftside" style="width: 225px">
          <div style="text-align: center;">
           <a href="https://myanimelist.net/anime/40131/Junjou_Juugeki_Cosplay_Shoujo/pics">
            <img alt="Junjou Juugeki Cosplay Shoujo" class="ac" data-src="https://cdn.myanimelist.net/images/anime/1345/102114.jpg" itemprop="image"/>
           </a>
          </div>
          <!-- My List -->
          <div class="v-affiliate-amazon-button" data-v="null" data-v-ga-type="buy_manga_amazon_anime_title_left">
          </div>
          <div class="profileRows pb0">
           <a class="js-form-user-status js-form-user-status-btn Lightbox_AddEdit btn-addEdit-large btn-user-status-add-list ga-click ga-impression" data-ga-click-type="list-add-anime-title-btn" data-ga-impression-type="list-add-anime-title-btn" href="https://myanimelist.net/ownlist/anime/add?selected_series_id=40131&amp;hideLayout=1&amp;click_type=list-add-anime-title-btn&amp;more_type=1" onclick="dataLayer.push({'event':'ga-js-event','ga-js-event-type':'list-add-anime-title-btn'})">
            Add to My List
           </a>
          </div>
          <div class="addtolist-block js-anime-addtolist-block" id="addtolist" style="display: none;">
           <input id="myinfo_anime_id" type="hidden" value="40131"/>
           <input id="myinfo_curstatus" type="hidden" value=""/>
           <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
             <td class="spaceit">
              Status:
             </td>
             <td class="spaceit">
              <select class="inputtext js-anime-status-dropdown" id="myinfo_status" name="myinfo_status">
               <option value="1">
                Watching
               </option>
               <option value="2">
                Completed
               </option>
               <option value="3">
                On-Hold
               </option>
               <option value="4">
                Dropped
               </option>
               <option value="6">
                Plan to Watch
               </option>
              </select>
             </td>
            </tr>
            <tr>
             <td class="spaceit">
              Eps Seen:
             </td>
             <td class="spaceit">
              <input class="inputtext" id="myinfo_watchedeps" name="myinfo_watchedeps" size="3" type="text" value=""/>
              /
              <span id="curEps">
               1
              </span>
             </td>
            </tr>
            <tr>
             <td class="spaceit">
              Your Score:
             </td>
             <td class="spaceit">
              <select class="inputtext" id="myinfo_score" name="myinfo_score">
               <option selected="selected" value="0">
                Select
               </option>
               <option value="10">
                (10) Masterpiece
               </option>
               <option value="9">
                (9) Great
               </option>
               <option value="8">
                (8) Very Good
               </option>
               <option value="7">
                (7) Good
               </option>
               <option value="6">
                (6) Fine
               </option>
               <option value="5">
                (5) Average
               </option>
               <option value="4">
                (4) Bad
               </option>
               <option value="3">
                (3) Very Bad
               </option>
               <option value="2">
                (2) Horrible
               </option>
               <option value="1">
                (1) Appalling
               </option>
              </select>
             </td>
            </tr>
            <tr>
             <td>
             </td>
             <td>
              <input class="inputButton btn-middle flat js-anime-add-button" name="myinfo_submit" type="button" value="Add"/>
              <span id="addtolistresult">
               <a href="https://myanimelist.net/ownlist/anime/add?selected_series_id=40131">
                Add Detailed Info
               </a>
              </span>
             </td>
            </tr>
           </table>
           <div id="myinfoDisplay" style="padding-left: 89px; margin-top: 3px;">
           </div>
          </div>
          <!-- end My List -->
          <div class="pt0" id="profileRows">
           <a href="https://myanimelist.net/login.php?from=%2Fanime%2F40131%2FJunjou_Juugeki_Cosplay_Shoujo%2Fpics&amp;error=login_required" style="font-weight:normal;">
            Add to Favorites
           </a>
          </div>
          <div class="js-sns-icon-container icon-block mt8">
           <a class="js-share-button-popup js-share-button-tracking sprite-icon-social icon-social icon-facebook" data-ga-network="facebook" data-ga-screen="Share Button Location: common" href="http://www.facebook.com/share.php?u=https%3A%2F%2Fmyanimelist.net%2Fanime%2F40131%2FJunjou_Juugeki_Cosplay_Shoujo" target="_blank">
            <div class="ga-click" data-ga-click-param="" data-ga-click-type="share-facebook">
             <i class="fa-brands fa-facebook-f" data-ga-click-param="" data-ga-click-type="share-facebook" title="Facebook">
             </i>
            </div>
           </a>
           <a class="js-share-button-popup js-share-button-tracking sprite-icon-social icon-social icon-twitter" data-ga-network="twitter" data-ga-screen="Share Button Location: common" href="http://twitter.com/share?related=MyAnimeList.net&amp;via=myanimelist&amp;url=https%3A%2F%2Fmyanimelist.net%2Fanime%2F40131%2FJunjou_Juugeki_Cosplay_Shoujo&amp;text=Junjou%20Juugeki%20Cosplay%20Shoujo&amp;hashtags=anime" target="_blank">
            <div class="ga-click" data-ga-click-param="" data-ga-click-type="share-twitter">
             <i class="fa-brands fa-twitter" data-ga-click-param="" data-ga-click-type="share-twitter" title="Twitter">
             </i>
            </div>
           </a>
           <a class="js-share-button-popup js-share-button-tracking sprite-icon-social icon-social icon-reddit" data-ga-network="reddit" data-ga-screen="Share Button Location: common" href="http://reddit.com/submit?url=https%3A%2F%2Fmyanimelist.net%2Fanime%2F40131%2FJunjou_Juugeki_Cosplay_Shoujo&amp;title=Junjou%20Juugeki%20Cosplay%20Shoujo" target="_blank">
            <div class="ga-click" data-ga-click-param="" data-ga-click-type="share-reddit">
             <i class="fa-brands fa-reddit-alien" data-ga-click-param="" data-ga-click-type="share-reddit" title="Reddit">
             </i>
            </div>
           </a>
           <a class="js-share-button-popup js-share-button-tracking sprite-icon-social icon-social icon-tumblr" data-ga-network="tumblr" data-ga-screen="Share Button Location: common" href="http://www.tumblr.com/share/link?url=https%3A%2F%2Fmyanimelist.net%2Fanime%2F40131%2FJunjou_Juugeki_Cosplay_Shoujo&amp;name=Junjou%20Juugeki%20Cosplay%20Shoujo" target="_blank">
            <div class="ga-click" data-ga-click-param="" data-ga-click-type="share-tumblr">
             <i class="fa-brands fa-tumblr" data-ga-click-param="" data-ga-click-type="share-tumblr" title="Tumblr">
             </i>
            </div>
           </a>
          </div>
          <br>
           <h2>
            Alternative Titles
           </h2>
           <div class="spaceit_pad">
            <span class="dark_text">
             Japanese:
            </span>
            純情銃撃コスプレ少女
           </div>
           <div class="js-alternative-titles hide">
            <div class="spaceit_pad">
             <span class="dark_text">
              English:
             </span>
             Pure Heart Shooting Girl
            </div>
           </div>
           <a class="viewOpEdMore js-anime-toggle-alternative-title-button" href="javascript:void(0);">
            <i class="fa-solid fa-chevron-down mr4">
            </i>
            More titles
           </a>
           <br/>
           <br/>
           <h2>
            Information
           </h2>
           <div class="spaceit_pad">
            <span class="dark_text">
             Type:
            </span>
            <a href="https://myanimelist.net/topanime.php?type=ova">
             OVA
            </a>
           </div>
           <div class="spaceit_pad">
            <span class="dark_text">
             Episodes:
            </span>
            1
           </div>
           <div class="spaceit_pad">
            <span class="dark_text">
             Status:
            </span>
            Finished Airing
           </div>
           <div class="spaceit_pad">
            <span class="dark_text">
             Aired:
            </span>
            Aug 30, 2013
           </div>
           <div class="spaceit_pad">
            <span class="dark_text">
             Producers:
            </span>
            None found,
            <a href="https://myanimelist.net/dbchanges.php?aid=40131&amp;t=producers">
             add some
            </a>
           </div>
           <div class="spaceit_pad">
            <span class="dark_text">
             Licensors:
            </span>
            None found,
            <a href="https://myanimelist.net/dbchanges.php?aid=40131&amp;t=producers">
             add some
            </a>
           </div>
           <div class="spaceit_pad">
            <span class="dark_text">
             Studios:
            </span>
            <a href="/anime/producer/2361/Okumaza" title="Okumaza">
             Okumaza
            </a>
           </div>
           <div class="spaceit_pad">
            <span class="dark_text">
             Source:
            </span>
            Original
           </div>
           <div class="spaceit_pad">
            <span class="dark_text">
             Genres:
            </span>
            <span itemprop="genre" style="display: none">
             Comedy
            </span>
            <a href="/anime/genre/4/Comedy" title="Comedy">
             Comedy
            </a>
            ,
            <span itemprop="genre" style="display: none">
             Hentai
            </span>
            <a href="/anime/genre/12/Hentai" title="Hentai">
             Hentai
            </a>
           </div>
           <div class="spaceit_pad">
            <span class="dark_text">
             Theme:
            </span>
            <span itemprop="genre" style="display: none">
             Parody
            </span>
            <a href="/anime/genre/20/Parody" title="Parody">
             Parody
            </a>
           </div>
           <div class="spaceit_pad">
            <span class="dark_text">
             Duration:
            </span>
            5 min.
           </div>
           <div class="spaceit_pad">
            <span class="dark_text">
             Rating:
            </span>
            Rx - Hentai
           </div>
           <br/>
           <h2>
            Statistics
           </h2>
           <div class="spaceit_pad po-r js-statistics-info di-ib" data-id="info1" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
            <span class="dark_text">
             Score:
            </span>
            <span class="score-label score-5" itemprop="ratingValue">
             5.04
            </span>
            <sup>
             1
            </sup>
            (scored by
            <span itemprop="ratingCount" style="display: none">
             403
            </span>
            403 users)
            <meta content="10" itemprop="bestRating"/>
            <meta content="1" itemprop="worstRating"/>
            <div class="statistics-info info1">
             <small>
              <sup>
               1
              </sup>
              indicates a
              <a href="javascript:void(0);" onclick="window.open('/info.php?go=topanime','topanime','menubar=no,scrollbars=no,status=no,width=500,height=380');">
               weighted score
              </a>
              .
             </small>
            </div>
           </div>
           <div class="spaceit_pad po-r js-statistics-info di-ib" data-id="info2">
            <span class="dark_text">
             Ranked:
            </span>
            N/A
            <sup>
             2
            </sup>
            <div class="statistics-info info2">
             <small>
              <sup>
               2
              </sup>
              based on the
              <a href="/topanime.php">
               top anime
              </a>
              page. Please note that 'Not yet aired' and 'R18+' titles are excluded.
             </small>
            </div>
           </div>
           <div class="spaceit_pad">
            <span class="dark_text">
             Popularity:
            </span>
            #12714
           </div>
           <div class="spaceit_pad">
            <span class="dark_text">
             Members:
            </span>
            1,113
           </div>
           <div class="spaceit_pad">
            <span class="dark_text">
             Favorites:
            </span>
            4
           </div>
           <div class="pb16">
           </div>
           <div class="clearfix mauto mt16" style="width:160px;padding-right:10px">
           </div>
          </br>
         </div>
        </td>
        <td style="padding-left: 5px;" valign="top">
         <div class="rightside js-scrollfix-bottom-rel">
          <div style="width:728px; margin:0 auto">
          </div>
          <a name="lower">
          </a>
          <div id="horiznav_nav" style="margin: 5px 0 10px 0;">
           <ul style="margin-right: 0; padding-right: 0;">
            <li>
             <a href="https://myanimelist.net/anime/40131/Junjou_Juugeki_Cosplay_Shoujo">
              Details
             </a>
            </li>
            <li>
             <a href="https://myanimelist.net/anime/40131/Junjou_Juugeki_Cosplay_Shoujo/characters">
              Characters &amp; Staff
             </a>
            </li>
            <li>
             <a href="/anime/40131/Junjou_Juugeki_Cosplay_Shoujo/video">
              Videos
             </a>
            </li>
            <li>
             <a href="https://myanimelist.net/anime/40131/Junjou_Juugeki_Cosplay_Shoujo/stats">
              Stats
             </a>
            </li>
            <li>
             <a href="https://myanimelist.net/anime/40131/Junjou_Juugeki_Cosplay_Shoujo/reviews">
              Reviews
             </a>
            </li>
            <li>
             <a href="https://myanimelist.net/anime/40131/Junjou_Juugeki_Cosplay_Shoujo/userrecs">
              Recommendations
             </a>
            </li>
            <li>
             <a href="https://myanimelist.net/anime/40131/Junjou_Juugeki_Cosplay_Shoujo/stacks">
              Interest Stacks
             </a>
            </li>
            <li>
             <a href="https://myanimelist.net/anime/40131/Junjou_Juugeki_Cosplay_Shoujo/news">
              News
             </a>
            </li>
            <li>
             <a href="https://myanimelist.net/anime/40131/Junjou_Juugeki_Cosplay_Shoujo/forum">
              Forum
             </a>
            </li>
            <li>
             <a href="https://myanimelist.net/anime/40131/Junjou_Juugeki_Cosplay_Shoujo/clubs">
              Clubs
             </a>
            </li>
            <li>
             <a class="horiznav_active" href="https://myanimelist.net/anime/40131/Junjou_Juugeki_Cosplay_Shoujo/pics">
              Pictures
             </a>
            </li>
           </ul>
          </div>
          <div class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
           <div class="di-ib" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a href="https://myanimelist.net/" itemprop="item">
             <span itemprop="name">
              Top
             </span>
            </a>
            <meta content="1" itemprop="position"/>
           </div>
           &gt;
           <div class="di-ib" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a href="https://myanimelist.net/anime.php" itemprop="item">
             <span itemprop="name">
              Anime
             </span>
            </a>
            <meta content="2" itemprop="position"/>
           </div>
           &gt;
           <div class="di-ib" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a href="https://myanimelist.net/anime/40131/Junjou_Juugeki_Cosplay_Shoujo" itemprop="item">
             <span itemprop="name">
              Junjou Juugeki Cosplay Shoujo
             </span>
            </a>
            <meta content="3" itemprop="position"/>
           </div>
           &gt;
           <div class="di-ib" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a href="https://myanimelist.net/anime/40131/Junjou_Juugeki_Cosplay_Shoujo/pics" itemprop="item">
             <span itemprop="name">
              Pictures
             </span>
            </a>
            <meta content="4" itemprop="position"/>
           </div>
          </div>
          <div class="mb8 border_solid">
           <div class="floatRightHeader">
            <a href="/dbchanges.php?aid=40131&amp;t=pic">
             Add a picture
            </a>
           </div>
           <h2 class="h2_overwrite">
            Pictures
           </h2>
          </div>
          <table align="center" border="0" cellpadding="0" cellspacing="10">
           <tr>
            <td align="center" width="225">
             <div class="picSurround">
              <a class="js-picture-gallery" href="https://cdn.myanimelist.net/images/anime/1345/102114l.jpg" rel="gallery-anime" title="Junjou Juugeki Cosplay Shoujo">
               <img alt="Junjou Juugeki Cosplay Shoujo picture" border="0" class="lazyload" data-src="https://cdn.myanimelist.net/images/anime/1345/102114.jpg"/>
              </a>
             </div>
             <div class="spaceit" style="text-align: center;">
              <a href="/modules.php?go=report&amp;type=animepic&amp;id=102114">
               Report
              </a>
             </div>
            </td>
            <tr>
             <td>
              <div class="" style="padding:12px 0px; display: flex;">
              </div>
             </td>
            </tr>
           </tr>
          </table>
         </div>
         <div class="mauto clearfix pt24" style="width:760px;">
          <div class="fl-l">
          </div>
          <div class="fl-r">
          </div>
         </div>
        </td>
       </tr>
      </table>
      <script data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js" type="text/javascript">
      </script>
     </div>
     <!-- end of contentHome -->
    </div>
    <!-- end of contentWrapper -->
    <script>
     $(document).ready(function() {
      $(window).scroll(function() {
        var cHeight = $("#myanimelist").height();
        $("div[data-ad-sticky='manual']").each(function (i, o) {
          var aHeight = $(o).height();
          var aTop = $(o).parent().offset().top;
          if (window.pageYOffset >= (cHeight - aHeight)) {
            $(o).css("top", ((cHeight - aHeight) - window.pageYOffset) + "px");
          } else if (window.pageYOffset >= aTop) {
            $(o).addClass("sticky");
            $(o).css("top", "");
          } else {
            $(o).removeClass("sticky");
          }
        });
      });
    });
    </script>
    <!--  control container height -->
    <div style="clear:both;">
    </div>
    <!-- end rightbody -->
   </div>
   <!-- wrapper -->
   <div class="ad-skin-side-outer ad-skin-side-bg bg-right" id="ad-skin-bg-right">
    <div class="ad-skin-side right" id="ad-skin-right" style="display: none;">
     <div id="ad-skin-right-absolute-block">
      <div id="ad-skin-right-fixed-block">
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- #myanimelist -->
  <div class="footer-ranking">
   <div class="ranking-container">
    <div class="ranking-unit">
     <h3 class="title">
      <a class="view_more fl-r" href="https://myanimelist.net/topanime.php">
       More
      </a>
      Top Anime
     </h3>
     <ol>
      <li>
       <span class="rank">
        1
       </span>
       <a href="https://myanimelist.net/anime/52991/Sousou_no_Frieren">
        Sousou no Frieren
       </a>
      </li>
      <li>
       <span class="rank">
        2
       </span>
       <a href="https://myanimelist.net/anime/5114/Fullmetal_Alchemist__Brotherhood">
        Fullmetal Alchemist: Brotherhood
       </a>
      </li>
      <li>
       <span class="rank">
        3
       </span>
       <a href="https://myanimelist.net/anime/9253/Steins_Gate">
        Steins;Gate
       </a>
      </li>
      <li>
       <span class="rank">
        4
       </span>
       <a href="https://myanimelist.net/anime/28977/Gintama°">
        Gintama°
       </a>
      </li>
      <li>
       <span class="rank">
        5
       </span>
       <a href="https://myanimelist.net/anime/38524/Shingeki_no_Kyojin_Season_3_Part_2">
        Shingeki no Kyojin Season 3 Part 2
       </a>
      </li>
     </ol>
    </div>
    <div class="ranking-unit">
     <h3 class="title">
      <a class="view_more fl-r" href="https://myanimelist.net/topanime.php?type=airing">
       More
      </a>
      Top Airing Anime
     </h3>
     <ol>
      <li>
       <span class="rank">
        1
       </span>
       <a href="https://myanimelist.net/anime/52991/Sousou_no_Frieren">
        Sousou no Frieren
       </a>
      </li>
      <li>
       <span class="rank">
        2
       </span>
       <a href="https://myanimelist.net/anime/51009/Jujutsu_Kaisen_2nd_Season">
        Jujutsu Kaisen 2nd Season
       </a>
      </li>
      <li>
       <span class="rank">
        3
       </span>
       <a href="https://myanimelist.net/anime/54492/Kusuriya_no_Hitorigoto">
        Kusuriya no Hitorigoto
       </a>
      </li>
      <li>
       <span class="rank">
        4
       </span>
       <a href="https://myanimelist.net/anime/50399/Tian_Guan_Cifu_Er">
        Tian Guan Cifu Er
       </a>
      </li>
      <li>
       <span class="rank">
        5
       </span>
       <a href="https://myanimelist.net/anime/21/One_Piece">
        One Piece
       </a>
      </li>
     </ol>
    </div>
    <div class="ranking-unit">
     <h3 class="title">
      <a class="view_more fl-r" href="https://myanimelist.net/character.php">
       More
      </a>
      Most Popular Characters
     </h3>
     <ol>
      <li>
       <span class="rank">
        1
       </span>
       <a href="https://myanimelist.net/character/417/Lelouch_Lamperouge">
        Lamperouge, Lelouch
       </a>
      </li>
      <li>
       <span class="rank">
        2
       </span>
       <a href="https://myanimelist.net/character/45627/Levi">
        Levi
       </a>
      </li>
      <li>
       <span class="rank">
        3
       </span>
       <a href="https://myanimelist.net/character/40/Luffy_Monkey_D">
        Monkey D., Luffy
       </a>
      </li>
      <li>
       <span class="rank">
        4
       </span>
       <a href="https://myanimelist.net/character/71/L_Lawliet">
        Lawliet, L
       </a>
      </li>
      <li>
       <span class="rank">
        5
       </span>
       <a href="https://myanimelist.net/character/62/Zoro_Roronoa">
        Roronoa, Zoro
       </a>
      </li>
     </ol>
    </div>
   </div>
  </div>
  <footer>
   <div id="footer-block">
    <div class="footer-link-icon-block">
     <div class="footer-social-media ac">
      <a class="icon-footer-sns" href="https://www.facebook.com/OfficialMyAnimeList" rel="noreferrer" target="_blank" title="Follow @myanimelist on Facebook">
       <i class="fa-brands fa-fw fa-facebook-square">
       </i>
      </a>
      <a class="icon-footer-sns" href="https://twitter.com/myanimelist" rel="noreferrer" target="_blank" title="Follow @myanimelist on Twitter">
       <i class="fa-brands fa-fw fa-twitter-square">
       </i>
      </a>
      <a class="icon-footer-sns" href="https://www.instagram.com/myanimelistofficial/" rel="noreferrer" target="_blank" title="Follow @myanimelist on Instagram">
       <i class="fa-brands fa-fw fa-instagram-square">
       </i>
      </a>
      <a class="icon-footer-sns" href="https://discord.gg/myanimelist" rel="noreferrer" target="_blank" title="Join Discord Chat">
       <i class="fa-brands fa-fw fa-discord">
       </i>
      </a>
     </div>
     <div class="footer-app ac">
      <a class="app-button appstore-button" href="https://apps.apple.com/us/app/myanimelist-official/id1469330778?md=8&amp;ct=pc_footer" rel="noreferrer" target="_blank">
       <img alt="App Store" src="https://cdn.myanimelist.net/images/appli/badge_iOS.png"/>
      </a>
      <a class="app-button googleplay-button" href="https://play.google.com/store/apps/details?utm_campaign=pc_footer&amp;id=net.myanimelist.app&amp;utm_source=mal" rel="noreferrer" target="_blank">
       <img alt="Google Play" src="https://cdn.myanimelist.net/images/appli/badge_googleplay.png"/>
      </a>
     </div>
    </div>
    <div class="footer-link-block">
     <p class="footer-link home di-ib">
      <a href="https://myanimelist.net/">
       Home
      </a>
     </p>
     <p class="footer-link di-ib">
      <a href="https://myanimelist.net/about.php">
       About
      </a>
      <a href="https://myanimelist.net/pressroom">
       Press Room
      </a>
      <a href="https://myanimelist.net/about.php?go=contact">
       Support
      </a>
      <a href="https://myanimelist.net/advertising">
       Advertising
      </a>
      <a href="https://myanimelist.net/forum/?topicid=515949">
       FAQ
      </a>
      <a href="https://myanimelist.net/about/terms_of_use">
       Terms
      </a>
      <a href="https://myanimelist.net/about/privacy_policy">
       Privacy
      </a>
      <a class="cmp-gdpr-only" href="#/">
       Privacy Settings
      </a>
      <a class="cmp-ccpa-only" href="#/">
       Do Not Sell My Personal Information
      </a>
      <a href="https://myanimelist.net/about/cookie_policy">
       Cookie
      </a>
      <a href="https://myanimelist.net/about/notice_at_collection">
       Notice at Collection
      </a>
      <a href="https://myanimelist.net/about/sitemap">
       Sitemap
      </a>
     </p>
     <p class="footer-link login di-ib">
      <a href="https://myanimelist.net/login.php?from=%2Fanime%2F40131%2FJunjou_Juugeki_Cosplay_Shoujo%2Fpics" id="malLogin" rel="nofollow">
       Login
      </a>
      <a href="https://myanimelist.net/register.php?from=%2Fanime%2F40131%2FJunjou_Juugeki_Cosplay_Shoujo%2Fpics">
       Sign Up
      </a>
     </p>
    </div>
    <div class="footer-link-icon-block">
     <div class="footer-recommended ac">
      <a class="icon-recommended icon-tokyo-otaku-mode" href="http://otakumode.com/fb/5aO" rel="noopener" target="_blank">
       Tokyo Otaku Mode
      </a>
      <a class="icon-recommended icon-honeyfeed" href="https://www.honeyfeed.fm/" rel="noopener" target="_blank">
       Honeyfeed
      </a>
      <a class="icon-recommended icon-manga-store" href="https://myanimelist.net/store?_location=mal_f_m" target="_blank">
       Manga Store
      </a>
      <a class="icon-recommended icon-otsukai" href="https://otsukai.com/" target="_blank">
       Otsukai
      </a>
     </div>
    </div>
    <div id="copyright">
     MyAnimeList.net is a property of MyAnimeList Co.,Ltd. ©2023 All Rights Reserved.
    </div>
    <div id="recaptcha-terms">
     This site is protected by reCAPTCHA and the Google
     <a href="https://policies.google.com/privacy" rel="noopener noreferrer" target="_blank">
      Privacy Policy
     </a>
     and
     <a href="https://policies.google.com/terms" rel="noopener noreferrer" target="_blank">
      Terms of Service
     </a>
     apply.
    </div>
   </div>
  </footer>
  <script async="async" src="//www.googletagservices.com/tag/js/gpt.js">
  </script>
  <script>
   var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
  </script>
  <script async="">
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga')

  ga('create', 'UA-369102-1', 'auto')
  ga('set', 'anonymizeIp', true)
  ga('require', 'linkid') // Enhanced Link Attribution
    ga('set', 'dimension1', 'guest')
    ga('send', 'pageview')
  </script>
  <script>
   let appearanceModeString = '';
  var clientDarkMode = window.matchMedia("(prefers-color-scheme:dark)").matches;
  const appearanceMal = 'none';
  const appearanceClient = clientDarkMode ? 'dark' : 'light';
  appearanceModeString = `${appearanceMal}-${appearanceClient}`;
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'anime_temporary_list_num': 0,
    'manga_temporary_list_num': 0,
    'is_banned': 0,
    'banned_type': '',
    'banned_reason': '',
    'appearance': appearanceModeString
  });
  </script>
  <script type="text/javascript">
   window.MAL.SLVK = "g4OvMLVOmEI3J8u7dt8f8+mAuualsqCo";
  window.MAL.CDN_URL = "https://cdn.myanimelist.net";

  window.MAL.CURRENT_TUTORIAL_STEP_ID = null;
  window.MAL.USER_NAME = ""
  window.MAL.FACEBOOK.APP_ID = "360769957454434"
  window.MAL.FACEBOOK.API_VERSION = "v2.12"
  
  window.MAL.GTM_ID = "WL4QW3G"

  window.MAL.GDPR_COOKIE_KEY = "m_gdpr_mdl_20230227"
  </script>
  <noscript>
   <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-WL4QW3G" style="display:none;visibility:hidden" width="0">
   </iframe>
  </noscript>
  <script type="text/javascript">
   window._taboola = window._taboola || [];
          _taboola.push({flush: true});
  </script>
 </body>
</html>
